.root {
  --wheel-turning-speed-direction: normal;
  --wheel-turning-speed: 1000ms;
  --direction: 0deg;
}

.carOuterWrapper {
  transform: rotate(var(--direction)) translateY(0);
  transition: ease-in-out 300ms transform;

  &.carOuterWrapperForward {
    transform: rotate(var(--direction)) translateY(-20px);
  }

  &.carOuterWrapperBackward {
    transform: rotate(var(--direction)) translateY(20px);
  }
}

.carWrapper {
  color: var(--c-primary);
  position: relative;
  animation: shake var(--wheel-turning-speed) ease-in-out infinite;
}

.svg {
  width: var(--playground-element-width);
  height: var(--playground-element-width);
  transform: rotate(-90deg);
}

.tire {
  position: absolute;
  width: 9%;
  height: 17%;
  border-radius: 15%;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 15%;
    background-color: var(--c-border);
    animation: wheelTurning var(--wheel-turning-speed) infinite ease-in-out
      var(--wheel-turning-speed-direction);
    left: 0;
    top: 0;
  }

  &:before {
    animation-delay: calc(var(--wheel-turning-speed) / 2);
  }

  &:nth-child(1) {
    left: 21.5%;
    top: 17%;
  }
  &:nth-child(2) {
    left: 69.2%;
    top: 17%;
  }
  &:nth-child(3) {
    left: 20.5%;
    top: 71%;
    width: 10.5%;
  }
  &:nth-child(4) {
    left: 69%;
    top: 71%;
    width: 10.5%;
  }
}

@keyframes wheelTurning {
  0% {
    top: 0;
  }
  100% {
    top: 90%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.25%);
  }
  50% {
    transform: translateX(0.25%);
  }
  75% {
    transform: translateX(-0.25%);
  }
  100% {
    transform: translateX(0);
  }
}

.tire {
}

.meta {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 5em;
}

.rearWind {
  opacity: 0;
  transition: 300ms ease-in-out opacity;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(120%);
  width: 100%;
  z-index: 999;
  display: flex;
  gap: 5%;
  justify-content: center;

  .rearWindElement {
    width: 0.5%;
    height: 1.5em;
    background-color: var(--c-p-light);
    scale: 0;
    transition: 300ms ease-in-out scale;
    transform-origin: top center;

    &:nth-child(2) {
      height: 2em;
    }
    &:nth-child(3) {
      height: 2.5em;
    }
    &:nth-child(4) {
      height: 2em;
    }
  }
}

.carOuterWrapperForward {
  .rearWind {
    opacity: 1;
    .rearWindElement {
      scale: 1;
    }
  }
}

.frontWind {
  opacity: 0;
  transition: 300ms ease-in-out opacity;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(120%);
  width: 100%;
  z-index: 999;
  display: flex;
  gap: 5%;
  justify-content: center;
  rotate: 180deg;

  .frontWindElement {
    width: 0.5%;
    height: 1.5em;
    background-color: var(--c-p-light);
    scale: 0;
    transition: 300ms ease-in-out scale;
    transform-origin: top center;

    &:nth-child(2) {
      height: 2.2em;
    }
    &:nth-child(4) {
      height: 2.2em;
      transform: translateY(20%);
    }
    &:nth-child(6) {
      height: 2.5em;
    }
  }
}

.carOuterWrapperBackward {
  .frontWind {
    opacity: 1;
    .frontWindElement {
      scale: 1;
    }
  }
}

.metaInformation {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--c-p-light);

  code {
    padding: 0.5em 0.7em 0.4em 0.7em;
    background-color: var(--c-bkg-light);
    border-radius: 6px;
    border: 1px solid var(--c-border);
  }
}
