.list {
  list-style: none;
  padding: 1em !important;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.item {
  border-radius: 5px;
  border: 1px solid var(--c-border-light);
  padding: 1em;
  max-width: 95%;
  font-size: var(--fs-small);

  pre {
    font-size: var(--fs-xsmall);
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1em 0 0 0;
  }

  pre.preError {
    color: var(--c-feedback-error);
  }
}

.itemUser {
  align-self: flex-end;
  background-color: var(--c-primary);
  border-color: var(--c-primary);
  color: #fff;
}
